<!-- vpn_app/templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>
    
    <h2>Your Sites:</h2>
    <ul>
        {% for user_site in user_sites %}
            <li><a href="{% url 'visit_site' user_site_name=user_site.name %}">{{ user_site.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Actions:</h2>
    <ul>
        <li><a href="{% url 'create_site' %}">Create a new site</a></li>
        <li><a href="{% url 'view_statistics' user_id=user.id %}">view_statistics</a></li>
        <li><a href="{% url 'view_user_details' user_id=user.id %}">view_user_details</a></li>
    </ul>
</body>
</html>
